ion-view(view-title='{{activityTitle}}' animation='no-animation' cache-view='false').tab

  ion-nav-bar(align-title='center').bar.bar-transparent.tab__bar
    ion-nav-buttons(side='right')
      //a(ng-click='toggleMenu()').button.button-clear
        //i.material-icons hdr_strong


  ion-content(overflow-scroll='true',).gradient.has-tabs.no-scroll.tab__content
    //TODO: optional notification
    div.tab-content__notifications.tab-content__notifications--hidden
      i.tab-content-notifications__severity.material-icons warning
      span.tab-content-notifications__message Drop by for an appointment!
      i.tab-content-notifications__action.material-icons clear



    ion-slide-box(on-slide-changed='slideHasChanged($index)', disable-scroll='false',drag-content='false').tab-content__slidebox
      // ================= Uncomment to see variables for debugging
      //ion-slide.tab-content-slidebox__slide.tab-content-slidebox__slide--test
        div {{stepsToday}}
        div
          span(ng-repeat='detail in activeTodayDetail track by $index') {{detail}},

        div {{activeToday}}
        div {{goals}}
        div {{data.week.active}}
        div {{data.week.activeTotal}}

      // =================
      ion-slide.tab-content-slidebox__slide
        h1 {{isChatActive}}
        ui-chart-steps-today(chart-data-steps='stepsToday', chart-data-goal='goals.steps')

        div.achievements
          .full
            .half-left
              i(ng-if='!weekday.reached.steps').material-icons.notreached star_border
              i(ng-if='weekday.reached.steps').material-icons star
            .half-right
              i(ng-if='!weekday.reached.active').material-icons.notreached star_border
              i(ng-if='weekday.reached.active').material-icons star

        ui-chart-activity-today(chart-data-active='activeTodayDetail', chart-data-goal='goals.active', label-data-total='activeToday')

      // =================
      ion-slide.tab-content-slidebox__slide.tab-content-slidebox__slide--week
        ui-chart-steps-week(chart-data-steps='stepsWeek', chart-data-goal='goals.steps')

        div().achievements
          .full(ng-repeat='weekday in days')
            .half-left
              i(ng-if='!weekday.reached.steps').material-icons.notreached star_border
              i(ng-if='weekday.reached.steps').material-icons star
            .half-right
              i(ng-if='!weekday.reached.active').material-icons.notreached star_border
              i(ng-if='weekday.reached.active').material-icons star

        ui-chart-activity-week(chart-data-active='activeWeekDetail', chart-data-goal='goals.active*7', label-data-total='activeWeek')





  footer(activity-active='true', chat-active='chat.isActive')

