ion-view(view-title='Set your Goals' animation="no-animation").tab

  ion-nav-bar(align-title='center').bar.bar-transparent.tab__bar
    ion-nav-buttons(side='right')
      a(ng-click='toggleMenu()').button.button-clear



  ion-content(overflow-scroll='true',).padding.gradient.has-tabs.no-scroll.tab__content
    //TODO: optional notification
    div.notifications.tab--content__notifications.tab-content__notifications--hidden
      i.tab-content-notifications__severity.material-icons warning
      span.tab-content-notifications__message Drop by for an appointment!
      i.tab-content-notifications__action.material-icons clear

    .goals
      .goal-steps
        .goal-header
          .goal-header__icon
            i.material-icons directions_run
          .goal-header__title
            h1 Steps
          .goal-header__description
            p Walking keeps you active, is good for your balance, blood pressure.
        .goal-settings
          span I'm walk
          span(ng-click='setGoalSteps()').goal
            span.value &nbsp; {{goals.steps | number: 0}}&nbsp;
            span.icons
              i.material-icons expand_less
              i.material-icons expand_more
          span &nbsp;steps a day.

      .goal-active
        .goal-header
          .goal-header__icon
            i.material-icons av_timer
          .goal-header__title
            h1 Active all day
          .goal-header__description
            p Walk at least 200 steps a minute for 11 minutes an hour.
        .goal-settings
          span I am active in
          span(ng-click='setGoalActive()').goal
            span.value &nbsp; {{goals.active | number: 0}}&nbsp;
            span.icons
              i.material-icons expand_less
              i.material-icons expand_more
          span &nbsp;hours a day.

      .ready
        div(ng-click='setReadyGo()', ng-if='!isChallengeLocked').button-recess Start Challenge
        div(ng-if='isChallengeLocked').button-recess.button-recess--locked New Challenge in {{goals.expiresIn}}




  footer(goal-active='true', chat-active='chat.isActive')