ion-view(view-title='Messenger' animation="no-animation")

  ion-nav-bar(align-title='center').bar.bar-transparent.bar-recess
    ion-nav-buttons(side='right')



  ion-content(overflow-scroll='false',).has-tabs.no-scroll
    .messenger
      .icon
        i.material-icons face
        i.material-icons.small swap_horiz
        i.material-icons face
      .text You need to collect more data until we can match you with someone who has the same goal and fitness level than you do.
      br
      .text Stay tuned.


  footer(messenger-active='true')