ion-view(view-title='Messenger' animation="no-animation").tab

  ion-nav-bar(align-title='center').bar.bar-transparent.tab__bar
    ion-nav-buttons(side='right')

  ion-content(overflow-scroll='false',).has-tabs.no-scroll.tab__content.tab__content--message
    .tab-content__image
      .tab-content-image__icon
        i.material-icons face
        i.material-icons.small swap_horiz
        i.material-icons face
    .tab-content__title
      h1 Messenger
    .tab-content__subtitle
      p You need to collect more data until we can match you with someone who has the same goal and fitness level than you do.
      p Stay tuned.


  footer(messenger-active='true', chat-active='true')