
.sidemenu {
  background-color: lighten($primary_recess, 10%);

  h1 {
    font-size: 1em;
  }
}

.sidemenu__header {
  padding: 1em;
  background-color: $primary_recess;
  height: 25%;
}

.sidemenu__header-device {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    padding: 0 0 0 0.25em;
    margin: 0;
  }
}

.sidemenu__header-device-details {
  margin-top: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.sidemenu__header-device-details-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  i {
    font-size: 1em;
    padding: 0 0.5em 0 0;
  }
}

.sidemenu__content {
  margin-top: 1em;
  padding: 1em;

}

.sidemenu__content-debug {
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $midnightblue;
  color: $emerald;
  * {
    color: $emerald;
  }
  .button {
    background-color: $wetasphalt;
    font-weight: 600;
  }
}

.sidemenu__content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    font-size: 1em;
    padding: 0 0 0 0.25em;
    margin: 0;
  }
}