.back-to-activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding-top: 0.25rem;

  a {
    text-decoration: none;
    color: black;
    line-height: 1.6rem;
    height: 1.8rem;
  }
}



.tab__content--chat {
  @include flex();
  width: 100%;

}

.message {

  padding: 1rem 1.5rem;
  @include flex('row');
  justify-content:flex-end;

}

.msg {
  //align-self: flex-start;


  margin-bottom: 0.125rem;


}

.text {
  background-color: $primary_recess;
  color: black;
  padding:  0.25rem 0.75rem;
  @include border-radius(0.5rem);
  text-align: right;
}
.timestamp {
  font-size: 0.8rem;
  font-weight:300;
  display: block;
  text-align: right;

}
.other {
  justify-content:flex-start;

  color: black;
  .text {
    background-color: $clouds;
    text-align: left;
  }

  .timestamp {
    text-align: left;
  }
}

.button-send {

  i {
    color: $primary_recess;
    padding-top: 0.5rem;
  }
}