@import '../utils/mixins';

.tab-content-slidebox__slide--week {
  //background-color: $peterriver;
}

.tab-content-slidebox__slide--test {
  //background-color: $carrot;
}

//________________________________________/ Steps Today

.chart-steps-today {
  position: relative;
  //background-color: $turquoise;
  height: 12rem;

  overflow: hidden;
  @include flex();

}

.chart-steps-today__doughnutchart {
  //background-color: orange;
  width: 100%;
  height: 100%;

  .chart-doughnut {
    //background-color: blue;
    width: 100%;
    padding: 0 1rem;

  }
  canvas {

  }
}

.chart-steps-today__legend {
  //background-color: yellow;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}

.chart-steps-today-legend__icon {
  i {
    font-size: 2.5em;
    color: $primary_steps;
  }
}

.chart-steps-today-legend__today {
  .value {
    font-size: 1.5em;
    font-weight: 500;
  }
}

.chart-steps-today-legend__goal {
  .value {
    font-size: 1.5em;
    font-weight: 500;
  }
}

//________________________________________/ Steps Week

.chart-steps-week {
  //background-color: $turquoise;
  height: 12rem;
  @include flex();
  width: 100%;

}

.chart-steps-week__tooltip {
  //background-color: $sunflower;
  width: 100%;
  height: 2rem;
}

.chart-steps-week-tooltip__display {
  //display: none;
}

.chart-steps-week__barchart {
  padding: 0 0.9rem;
  height: 8rem;
  width: 100%;
  canvas {
    max-height: 100%;
    width: 100%;
    min-width: 100%;

  }
}

.chart-steps-week__labels {
  width: 100%;
  @include flex('row');
  padding: 0rem 1rem;
  span {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    &:last-child {
      // font-size: 0.8em;
    }
  }

}

//________________________________________/ Achievements STAR
.achievements {
  //background-color: $greensea;
  @include flex('row');
  padding: 1em 0;

}

.full {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
  flex-grow: 1;
}

.half-left, .half-right {
  color: $primary_steps;

  font-size: 1.5em;
  width: 0.75em;
  overflow: hidden;
  padding: 0;
  margin: 0;
  i {
    font-size: 1.5em;

    width: 0.5em;

    margin: 0;
    padding: 0;
  }
}

.half-right {
  color: $primary_active;
  overflow: hidden;
  i {
    margin-left: -1em;
  }
}

//________________________________________/ Activity Today

.chart-activity-today {
  //background-color: $emerald;
  @include flex();
  justify-content: flex-start;

  min-height: 13em;
  max-height: 100%;
  width: 100%;

}

.chart-activity-today__tooltip,
.chart-activity-week__tooltip,
.chart-steps-week__tooltip {
  //background-color: yellow;
  width: 100%;
  height: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.chart-activity-today-tooltip__display,
.chart-activity-week-tooltip__display,
.chart-steps-week__tooltip__display {
  @include flex('row');
  justify-content: flex-start;
}

.chart-activity-today-tooltip__display--hidden,
.chart-activity-week-tooltip__display--hidden,
.chart-steps-week-tooltip__display--hidden {
  display: none;
}

.chart-activity-today__barchart {
  //background-color: red;
  height: 5em;

  width: 100%;
  padding: 0 0.8em;

  canvas {
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    //padding: 0 0.8em;

  }
}

.chart-activity-today__labels {
  width: 100%;
  @include flex('row');
  padding: 0 0.8em;

}

.chart-activity-today__legend {

  @include flex('row');
  width: 100%;
  padding: 0 0.8em;
  text-align: center;
}

.chart-activity-today-legend__today,
.chart-activity-today-legend__icon,
.chart-activity-today-legend__goal {
  flex: 1;
  width: 100%;
}

.chart-activity-today-legend__icon {
  color: $primary_active;
  i {
    font-size: 2.5rem;
  }
}

.chart-activity-today-legend__today {
  .value {
    font-size: 1.5em;
    font-weight: 500;
  }
}

.chart-activity-today-legend__goal {
  .value {
    font-size: 1.5em;
    font-weight: 500;
  }
}

//________________________________________/ Activity Week

.chart-activity-week {
  //background-color: $emerald;
  @include flex();
  justify-content: flex-start;

  min-height: 13em;
  max-height: 100%;
  width: 100%;

}

.chart-activity-week__tooltip {
  //background-color: yellow;
  width: 100%;
  height: 2rem;

}

.chart-activity-week-tooltip__display {
  //display: none;
}

.chart-activity-week__barchart {
  //background-color: red;
  height: 5em;

  width: 100%;
  padding: 0 0.8em;

  canvas {
    max-height: 100%;
    width: 100%;
    max-width: 100%;

    //padding: 0 0.8em;

  }
}

.chart-activity-week__labels {
  width: 100%;
  @include flex('row');
  padding: 0rem 0.9rem;
  span {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    &:last-child {
      // font-size: 0.8em;
    }
  }

}

.chart-activity-week__legend {
  //background-color: orange;
  @include flex('row');
  width: 100%;
  padding: 0 0.8em;
  text-align: center;
}

.chart-activity-week-legend__week,
.chart-activity-week-legend__icon,
.chart-activity-week-legend__goal {
  flex: 1;
  width: 100%;
}

.chart-activity-week-legend__icon {
  color: $primary_active;
  i {
    font-size: 2.5rem;
  }
}

.chart-activity-week-legend__week {
  .value {
    font-size: 1.5em;
    font-weight: 500;
  }
}

.chart-activity-week-legend__goal {
  .value {
    font-size: 1.5em;
    font-weight: 500;
  }
}