@import '../utils/colors';
@import '../utils/mixins';

.content-intro {
  background-color: $primary_recess;
}

.welcome-slidebox, .welcome-slide {
  background: none;
  height: 100%;
}

.welcome-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-slide-content {
  padding: 2em;
  text-align: center;
}

.welcome-slide-action {
  margin: 0 auto;
  margin-bottom: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-slide-content__image {
  max-width: 60%;
  margin: 0 auto;

  img {
    width: 100%;

  }
}

.welcome-slide-content-content__icon {
  font-size: 2.5em;
  margin-top:1em;

}

.welcome-slide-content-content__description {
  text-align: left;
}

.welcome-slide-content-content__description--permissions {
  font-size: 0.8em;
}

.welcome-slide-action__button {
  background-color: $white;
  padding: 0.8em 1.8em;
  @include border-radius(4em);

  color: black;
  text-decoration: none;
  font-size: 1em;
}

.welcome-slide-action__button-cancel {
  background-color: $black;
  color: $white;
}



