.chart-steps-today
  .chart-steps-today__doughnutchart
    canvas(chart-data='chart.today.data',
      chart-labels='chart.today.labels',
      chart-options='chart.today.options',
      chart-dataset-override='chart.today.dataset').chart-doughnut

  .chart-steps-today__legend
    .chart-steps-today-legend__today
      div.value {{chart.today.data[0]}}
      span.label Steps today
    .chart-steps-today-legend__icon
      i.material-icons directions_run
    .chart-steps-today-legend__goal
      div.value {{goal}}
      span.label Your goal