.chart-activity-week
  .chart-activity-week__tooltip
    .chart-activity-week-tooltip__display.chart-activity-week-tooltip__display--hidden
      span
        i.material-icons av_timer
      span.value 0
      span &nbsp;min
      span &nbsp;on&nbsp;
      span.day


  .chart-activity-week__barchart
    canvas(chart-data='chart.week.data',
    chart-labels='chart.week.labels',
    chart-options='chart.week.options',
    chart-dataset-override='chart.week.dataset').chart-bar.image-rendering

  .chart-activity-week__labels
    span(ng-repeat='day in chart.week.labels') {{day}}

  .chart-activity-week__legend
    .chart-activity-week-legend__week
      div.value {{total}}
      span.label Active week
    .chart-activity-week-legend__icon
      i.material-icons av_timer
    .chart-activity-week-legend__goal
      div.value {{goal}}
      span.label Your goal