.chart-activity-today
  .chart-activity-today__tooltip
    .chart-activity-today-tooltip__display.chart-activity-today-tooltip__display--hidden

  .chart-activity-today__barchart
    canvas(chart-data='chart.day.data',
    chart-labels='chart.day.labels',
    chart-options='chart.day.options',
    chart-dataset-override='chart.day.dataset').chart-bar.image-rendering

  .chart-activity-today__labels
    span 00
    span noon
    span 11pm

  .chart-activity-today__legend
    .chart-activity-today-legend__today
      div.value {{timesReached | number :0}} hour
        span(ng-if='timesReached > 1') s
      span.label of active time
    .chart-activity-today-legend__icon
      i.material-icons av_timer
    .chart-activity-today-legend__goal
      div.value {{goal | number :0}}
      span.label Your goal
