.chart-activity-today
  .chart-activity-today__tooltip
    .chart-activity-today-tooltip__display.chart-activity-today-tooltip__display--hidden
      span
        i.material-icons av_timer
      span.value 0
      span &nbsp;min
      span &nbsp;at&nbsp;
      span.hour
      span  :00
  .chart-activity-today__barchart
    canvas(chart-data='chart.day.data',
    chart-labels='chart.day.labels',
    chart-options='chart.day.options',
    chart-dataset-override='chart.day.dataset').chart-bar.image-rendering

  .chart-activity-today__labels
    span 00
    span noon
    span 23

  .chart-activity-today__legend
    .chart-activity-today-legend__today
      div.value {{total | number :0}}
      span.label Active today
    .chart-activity-today-legend__icon
      i.material-icons av_timer
    .chart-activity-today-legend__goal
      div.value {{goal | number :0}}
      span.label Your goal
