.chart-today-steps
  canvas(chart-data='chart.today.data',
  chart-labels='chart.today.labels',
  chart-options='chart.today.options',
  chart-dataset-override='chart.today.dataset').chart-doughnut
  .chart-legend
    .chart-legend-item.chart-legend-item_today
      div.value {{chart.today.data[0]}}
      span.label Steps today
    .chart-legend-item.chart-legend-item_logo
      i.material-icons directions_run
    .chart-legend-item.chart-legend-item_goal
      div.value {{goal}}
      span.label Your goal