ion-list.choices.active
  ion-radio(ng-model='goals.active', ng-value='90') 90 min
  ion-radio(ng-model='goals.active', ng-value='120') 120 min
  ion-radio(ng-model='goals.active', ng-value='150') 150 min
  ion-radio(ng-model='goals.active', ng-value='200') 200 min