ion-list.choices.active
  ion-radio(ng-model='goals.active', ng-value='6') 6x a day
  ion-radio(ng-model='goals.active', ng-value='8') 8x a day
  ion-radio(ng-model='goals.active', ng-value='10') 10x a day
  ion-radio(ng-model='goals.active', ng-value='12') 12x a day