ion-list.choices.steps
  ion-radio(ng-model='goals.steps', ng-value='8000') 8.000
  ion-radio(ng-model='goals.steps', ng-value='10000') 10.000
  ion-radio(ng-model='goals.steps', ng-value='12000') 12.000
  ion-radio(ng-model='goals.steps', ng-value='15000') 15.000