ion-view(view-title='Demo', name='demo', hide-nav-bar='false', has-bouncing='false' ).tab.tab--demo

  ion-nav-bar.tab__bar
    ion-nav-back-button.button-clear
    ion-nav-buttons(side='right')
      a(ng-click='toggleMenu()').button.button-clear
        i.material-icons hdr_strong

  ion-content(overflow-scroll='true', scroll='true',).demo

    div.demo__device.stats
      i.material-icons smartphone
      span &nbsp;{{user.uid}}

    .card
      .item.item-text-wrap
        div.stats
         i.material-icons directions_run
         | &nbsp; Documents ({{fireSteps.length}})

        div.stats
          i.material-icons sync
          | &nbsp;{{lastdaycollected}}


    .card
      .item.item-text-wrap
        div View
        div.buttonRow
          button(ng-click='viewSteps()').button Steps
          button(ng-click='getSteps()').button Distance
          button(ng-click='getSteps()').button Flights
        div Actions
        div.buttonRow
          button(ng-click='collect()').button Collect
          button(ng-click='sync()').button Sync
          button(ng-click='clear()').button Clear




    //.card(ng-repeat='day in days track by $index')
      div
        div(ng-click='showData($index)')
          //| &nbsp;&nbsp;&nbsp;
          //inline-bar-chart(data='day.steps')
          | &nbsp;&nbsp;&nbsp;
          | {{day.date | date: 'mediumDate'}}
          | &nbsp;&nbsp;&nbsp;

        div(ng-repeat='data in day.data', ng-if='!day.showData')
          span &nbsp; &nbsp;
          span(ng-if='data.synced')
            i.fa.fa-circle
          span(ng-if='!data.synced')
            i.fa.fa-circle-o
          span &nbsp; &nbsp;
          span {{data.data.startDate | date:'HH:mm'}} - {{data.source.sourceName}} - {{data.data.value}}

