div(ng-class='{android:isAndroid}').recess-tabs
  div(ng-class='{android:isAndroid, active:isMessengerActive}').recess-tabs__tab
    a(href='#/messenger',nav-transition='none')
      i.material-icons forum


  div(ng-class='{android:isAndroid, active:isActivityActive}').recess-tabs__tab
    a(href='#/activity',nav-transition='none')
      i.material-icons timeline


  div(ng-class='{android:isAndroid, active:isGoalActive}').recess-tabs__tab
    a(href='#/goal',nav-transition='none')
      i.material-icons assignment