doctype html
html
  head
    meta(charset='utf-8')

    meta(name='viewport',
    content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    meta(http-equiv="Content-Security-Policy"
    content="" +
    "img-src * 'self' localhost" +
    "data:; " +
    "default-src * 'self' " +
    "gap: ; " +
    "connect-src 'self' wss://*.firebaseio.com ws://localhost:35729/livereload;" +
    "style-src 'self' 'unsafe-inline'; " +
    "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://apis.google.com https://cdn.firebase.com https://*.firebaseio.com http://localhost:35729/; "
    )

    title Recess

    link(rel='icon' type='image/png' href='favicon.png')

    link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')

    link(href='css/recess.min.css', rel='stylesheet')

    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/ngCordova/dist/ng-cordova.js')
    script(src='cordova.js')

    script(src='lib/jquery/dist/jquery.min.js')
    script(src='lib/angular-resource/angular-resource.min.js')

    script(src='lib/chart.js/dist/Chart.js')
    script(src='lib/angular-chart.js/dist/angular-chart.min.js')

    script(src='lib/underscore/underscore-min.js')
    script(src='lib/moment/min/moment.min.js')
    script(src='lib/angular-momentjs/angular-momentjs.min.js')

    script(src='lib/firebase/firebase.js')
    script(src='lib/angularfire/dist/angularfire.min.js')

    script(src='lib/granim/dist/granim.min.js')

    script(src='lib/ngstorage/ngStorage.js')

    script(src='js/recess.js')
    script(src='js/controllers.js')
    script(src='js/services.js')
    script(src='js/directives.js')

  body(ng-app='recess', ng-controller='RecessController')

    ion-side-menus
      ion-side-menu-content(drag-content='false')
        ion-nav-view(animation="no-animation").view

      ion-side-menu(side='right').sidemenu
        .sidemenu__header
          .sidemenu__header-device
            i.material-icons smartphone
            h1 ID: {{user.uid | limitTo : 5 : 0}}

          .sidemenu__header-device-details
            div.sidemenu__header-device-details-detail
              i.material-icons sync
              span is collecting: {{isCollecting}}

        .sidemenu__content
          h1 Quicklinks
          .sidemenu__content-quicklinks
          div(ng-click='accessIntro()').button.button-block Watch Intro

        .sidemenu__content-debug
          .sidemenu__content-title
            i.material-icons developer_mode
            h1 Debug
          .sidemenu__content-quicklinks
          div(ng-click='accessDataCollection()').button.button-block Data Collection




    ion-nav-bar(align-title='center').ba.bar-clear
      ion-nav-back-button
      ion-nav-buttons