ion-view(name='intro', hide-nav-bar='true', has-bouncing='false' )

  ion-nav-bar.bar.bar-transparent
    ion-nav-back-button.button-clear
    ion-nav-buttons(side='right')

  ion-content(overflow-scroll='true', scroll='false').content-intro

    ion-slide-box(on-slide-changed='slideChanged($index)', does-continue='false').welcome-slidebox

      ion-slide.welcome-slide.welcome-slide--introduction
        .welcome-slide-content
          .welcome-slide-content__image
            img(src='img/logo.png')
          .welcome-slide-content__title
            h1 Welcome to
              strong  Recess
          .welcome-slide-content__subtitle
            p This app is part of a study to qui blanditiis praesentium voluptatum deleniti atque corrupti
            | quos dolores et quas molestias excepturi sint occaecati cupiditate non providents est et ex.
            br
            br
            p To participate you have to read and agree to our Terms and Services.

        .welcome-slide-action
          a(ng-click='next(0)').welcome-slide-action__button.welcome-slide-action__button-next
            span Sure, let's go &nbsp;
            i.fa.fa-chevron-right

      ion-slide.welcome-slide.welcome-slide--introduction
        .welcome-slide-content
          .welcome-slide-content__image

          .welcome-slide-content__title
            h1 Terms and Services
          .welcome-slide-content__subtitle
            p This app is part of a study to qui blanditiis praesentium voluptatum deleniti atque corrupti
            | quos dolores et quas molestias excepturi sint occaecati cupiditate non providents est et ex.
            br
            br
            p To participate you have to read and agree to our Terms and Services.

        .welcome-slide-action
          a(ng-click='prev(0)').welcome-slide-action__button.welcome-slide-action__button-cancel
            i.fa.fa-times
            span &nbsp; I disagree &nbsp;
          span &nbsp;

          a(ng-click='next(0)').welcome-slide-action__button.welcome-slide-action__button-next
            span I agree &nbsp;
            i.fa.fa-chevron-check

      ion-slide.welcome-slide.welcome-slide--permissions
        .welcome-slide-content
          .welcome-slide-content__title
            h1 Permissions
          .welcome-slide-content__subtitle
            p To participate in the study, it is required to access relevant data.
          .welcome-slide-content__content

            // Notifications
            .welcome-slide-content-content__icon
              i.fa.fa-bell-o
            .row.welcome-slide-content-content__
              .col-70.welcome-slide-content-content__description.welcome-slide-content-content__description--permissions
                strong Notifications
                p Keeping you on track with your progress and goals.
              .col-20.col-center.welcome-slide-content-content__toggle
                label.toggle.toggle-balanced
                  input(type='checkbox' ng-model='permissions.notifications', ng-change='askPermissionPush()')
                  .track
                    .handle

            // Fitness Data
            .welcome-slide-content-content__icon
              i.fa.fa-heartbeat
            .row.welcome-slide-content-content__

              .col-70.welcome-slide-content-content__description.welcome-slide-content-content__description--permissions
                strong Fitness data
                p We measure your fitness to see how active you are.
              .col-20.col-center.welcome-slide-content-content__toggle
                label.toggle.toggle-balanced
                  input(type='checkbox' ng-model='permissions.fitness', ng-change='askHealthPermission()')
                  .track
                    .handle

        .welcome-slide-action
          a(ng-click='next(1)').welcome-slide-action__button.welcome-slide-action__button-next
            span Next &nbsp;
            i.fa.fa-chevron-right

      ion-slide.welcome-slide.welcome-slide--begin
        .welcome-slide-content
          .welcome-slide-content__image
            i.material-icons star

          .welcome-slide-content__title
            h1 Start
          .welcome-slide-content__subtitle
            p You start with a goal of 10.000 steps and being active 8x a day.

        .welcome-slide-action
          a(href='#/i/dont/exist').welcome-slide-action__button.welcome-slide-action__button-next
            span Get started &nbsp;
            i.fa.fa-chevron-right


